* {
    box-sizing: border-box;
}

.main {
    margin: auto 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tulisanAturData {
    margin-top: 280px;
    margin-left: 40px;
    margin-bottom: -10px;
}

h1,
p {
    font-family: Baloo Bhai;
}

p {
    font-size: 20px;
}

.menu {
    display: grid;
    row-gap: 10px;
    column-gap: 5px;
    margin-left: 60px;
    margin-top: 20px;
    grid-template-columns: 125px 125px 125px 125px;
    grid-template-rows: 3;
    grid-template-areas:
        "r r p p"
        "m m g g"
        ". a a .";
}

.section {
    width: 250px;
    display: grid;
    background: rgba(245, 245, 247, 1);
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    grid-template-columns: 50px 100px 100px;
    grid-template-rows: 1;
    grid-template-areas:
        "logo judul button";
}

.logo {
    height: 14px;
    width: 14px;
    background-color: white;
    border: 1px solid black;
    grid-area: logo;
}

button {
    background-color: black;
    color: white;
}

p {
    grid-area: judul;
}

a {
    background-color: black;
    color: white;
    font-family: Roboto;
    font-size: 14px;
    text-decoration: none;
    padding: 5px;
    grid-area: button;
    border-radius: 5px;
}

.ruangan {
    grid-area: r;
}

.periode {
    grid-area: p;
}

.murid {
    grid-area: m;
}

.guru {
    grid-area: g;
}

.akun {
    grid-area: a;
}

body {
    display: grid;
    grid-template-columns: 100px 1fr 150px;
    grid-template-areas:
        "kiri tengah kanan";

}

.kiri {
    grid-area: kiri;
    position: fixed;
}

.tengah {
    grid-area: tengah;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.kanan {
    grid-area: kanan;

}