#bground {
    background-image: url("/background/doodleschool.png");
    background-size: 700px 700px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.35;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
}

header {
    width: 470px;
    height: 144px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 24px;
    overflow: hidden;
    color: white;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Baloo Bhai;
    margin-top: 50px;
}

#teksPTMT {
    margin-top: 5px;
    font-size: 50px;
}

#SDsmarty {
    font-size: 35px;
}

#boxLogin {
    font-family: Montserrat;
    background: rgba(231, 231, 231, 1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 275px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    border-radius: 24px;
}

form {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bolder;
    background-image: url('');
}

#uname,
#pword {
    border-radius: 10px;
    border: 0px;
    height: 30px;
    width: 400px;
    background-color: #FFFFFF;
    margin-bottom: 25px;
}

#loginButton {
    border-radius: 24px;
    width: 150px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-size: 18px;
    font-family: Montserrat;
    border: 0px;
    background-color: #FFFFFF;
    font-weight: bolder;
    margin-bottom: 20px;
}

#boxForgot {
    text-align: center;
}

#forgot {
    color: black;
    text-align: center;
    font-family: Montserrat;
}

#boxPTMT {
    display: flex;
}

#topi {
    margin-left: 40px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 40px;
}

#orang {
    margin-right: 30px;
}

#kunci {
    margin-right: 30px;
}

p.error {
    color: black;
    text-align: center;
    font-family: Montserrat;
    font-weight: bold;
    margin-top: 50px;
    background-color: white;
}