.pagination {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.pagiAll {
    display: flex;
    margin-top: 20px;
    font-family: Roboto;
}

a.pagiA{
    text-decoration: none;
}