* {
    box-sizing: border-box;
}

.main {
    margin-top: 300px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

h1 {
    font-family: Baloo Bhai;
    margin-top: 80px;
    margin-bottom: -1px;
}

a {
    color: white;
    font-family: Roboto;
    text-decoration: none;
}

.atas {
    margin-top: 20px;
    display: grid;
    width: 750px;
    grid-template-rows: 350px 50px 350px;
    grid-template-rows: 100px;
    grid-template-areas:
        "vaksin none periode";
}

.KotakDataVaksin {
    grid-area: vaksin;
    display: grid;
    width: 330px;
    height: 100px;
    padding: 25px;
    grid-template-columns: 70px 150px 60px;
    grid-template-areas:
        "logo tulisanDataVaksin edit";
    background: rgba(246, 246, 248, 1);
    border-radius: 10px;
}

.KotakDaftarPeriode {
    grid-area: periode;
    display: grid;
    width: 330px;
    height: 100px;
    padding: 25px;
    grid-template-columns: 70px 150px 60px;

    grid-template-areas:
        "logo tulisanDaftarPeriode view";
    background: rgba(246, 246, 248, 1);
    border-radius: 10px;
}

.KotakDataVaksin p {
    grid-area: tulisanDataVaksin;
    font-family: Baloo Bhai;
    margin-left: 20px;
}

.KotakEdit {
    grid-area: edit;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    width: 60px;
    height: 40px;
    margin-top: 5px;
}

.KotakView {
    grid-area: view;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    width: 60px;
    height: 40px;
    margin-top: 5px;
}

.KotakIkon {
    grid-area: logo;
    background: white;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.KotakDaftarPeriode p {
    grid-area: tulisanDaftarPeriode;
    font-family: Baloo Bhai;
    margin-left: 10px;
}

.Periode {
    display: grid;
    margin-top: 20px;
    background: rgba(246, 246, 248, 1);
    border-radius: 10px;
    width: 510px;
    height: 100px;
    grid-template-columns: 80px 120px 210px 60px;
    padding-top: 25px;
    padding-left: 25px;
    grid-template-areas:
        "nomor periode tanggal persentase ";
}

.Periode i {
    margin-right: 10px;
}

.KotakNomor {
    grid-area: nomor;
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.KotakNomor p {
    font-family: Baloo Bhai;
}

.namaPeriode {
    grid-area: periode;
    font-family: Baloo Bhai;

}

.Tanggal {
    grid-area: tanggal;
    font-family: Roboto;
}

.Persentase {
    grid-area: persentase;
    font-family: Roboto;
}

.KotakStatus {
    grid-area: status;
    font-family: Roboto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 50px;
    background: green;
    border-radius: 5px;
}

.pesan {
    background-color: rgba(246, 246, 248, 1);
    width: 450px;
    height: 50px;
    margin-top: 30px;
    margin-right: 40px;
    text-align: center;
    border-radius: 10px;
}

.pesan p {
    font-family: Baloo Bhai;
}

body {
    display: grid;
    grid-template-columns: 100px 1fr 150px;
    grid-template-areas:
        "kiri tengah kanan";
}

.kiri {
    grid-area: kiri;
    position: fixed;
}

.tengah {
    grid-area: tengah;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kanan {
    grid-area: kanan;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    margin-left: 1100px;
}