* {
    box-sizing: border-box;
}

.main {

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

h1 {
    font-family: Baloo Bhai;

}

form {
    background: rgba(246, 246, 248, 1);
    width: 400px;
    height: 250px;
    padding-left: 15px;
    border-radius: 10px;
}

input {
    border-radius: 5px;
    border: 0px;
}

p {
    font-family: Roboto;
}

form :nth-child(7) {
    background: black;
    color: white;
    width: 60px;
    height: 40px;
    font-family: Roboto;
    margin-left: 40px;
}

.KotakBack {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    margin-top: 20px;
}

a {
    color: white;
    font-family: Roboto;
    text-decoration: none;
}

body {
    display: grid;
    grid-template-columns: 100px 1fr 150px;
    grid-template-areas:
        "kiri tengah kanan";
}

.kiri {
    grid-area: kiri;
    position: fixed;
}

.tengah {
    grid-area: tengah;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kanan {
    grid-area: kanan;
}