<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href="/admin-periode-tambah.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
  <script src="/admin-periode-tambah.js" defer></script>
</head>

<body>
  <header>
    <div>Tambah Periode</div>
  </header>
  <main>
    <div id="boxAdd">
      <form action="/tambahPeriode" method="post">
        <label for="namaPeriode" id="namaPeriode"><i class="fa fa-file-text" aria-hidden="true" id="namaP"></i>Nama
          Periode</label><br />
        <input type="text" id="namPer" name="namaPer" required/><br />
        <label for="tanggalMulai" id="tanggalMulai"><i class="fa fa-calendar" aria-hidden="true"
            id="tanggal"></i>Tanggal Mulai</label><br />
        <input type="date" id="tglMulai" name="tglMulai" required/><br />
        <label for="tanggalSelesai" id="tanggalSelesai"><i class="fa fa-calendar" aria-hidden="true"
            id="tanggal"></i>Tanggal Selesai</label><br />
        <input type="date" id="tglSelesai" name="tglSelesai" required/><br />
        <label for="kapasitas" id="kapasitas"><i class="fa fa-percent" aria-hidden="true"
            id="percent"></i>Kapasitas</label><br />
        <input type="number" id="kap" name="kap" max="100" required/><br />
        <input type="submit" id="add" value="Add" />
      </form>
      <p class="error">
        <% if(error) { %>
          Nama periode sudah ada
          <a class="back" href="/admin/periode" id="backButton">Back</a>
        <% } %>
      </p>
    </div>
  </main>
</body>

</html>