<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/noAccess.css" />
    <title>403</title>
</head>

<body>
    <div class="access">
        <h1>403</h1>
        <h4>Sorry, you do not have access to this page</h4>
        <div class="KotakBack">
            <a href="/login">Back</a>
        </div>
    </div>
</body>

</html>