<div class="pagiAll">
    <% for (let i=0; i<=pageCount; i++) { %>
        <div class="pagination">
            <a class="pagiA" href="?start=<%= 5*(i) %>"><%= i+1 %></a>
        </div>
    <% } %>
    <br></br>
</div>